.card {
  display: inline-block;
  line-height: 0.5;
}
.card img {
  max-width: 400px;
  border: 3px solid;
  border-radius: 50px;
}
button {
  background-color: blue;
  border-radius: 10%;
  font-family: cursive;
}
body {
  background-color: cadetblue;
}
